.color-primary {
    color: $primary;
}

.color-primary:hover,
.color-primary:focus {
    color: $primaryHover;
}

.color-white {
    color: $white !important;
}

.color-black {
    color: $black !important;
}

.color-grey {
    color: $grey;
}

.color-dark-grey {
    color: $dark-grey;
}

.color-light-grey {
    color: $light-grey;
}

.color-success {
    color: $success;
}

.color-warning {
    color: $warning;
}

.color-danger {
    color: $danger;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-grey {
    background-color: $grey !important;
}

.bg-dark-grey {
    background-color: $dark-grey !important;
}

.bg-light-grey {
    background-color: $light-grey !important;
}
