*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
    font-size: 16px;
    color: $black;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

section {
    &.container {
        margin-bottom: 4rem;
    }
}

.link {
    color: $primary;
}

.legend {
    font-size: 1.2rem;
    color: $dark-grey;
}

.no-border {
    border: none !important;
}

strong,
.strong {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

blockquote {
    border-color: $primary !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.h-full-screen {
    height: 100vh;
}

.full-screen {
    @extend .h-full-screen;
    width: 100%;
    overflow: hidden;

    &.bg {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        z-index: -1;

        > img {
            width: 100%;
        }
    }
}

.flex-center {
    @include flex-center;
}

.filtre-black {
    position: relative;

    &::after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.img-cover {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}

.box-shadow {
    @include box-shadow;

    &:hover,
    &:focus {
        @include box-shadow-hover;
    }
}

.border-radius {
    @include border-radius;
}

.hover-up {
    position: relative;
    top: 0;
    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus {
        top: -0.5rem;
    }
}

.card-title {
    font-size: 2rem;
}

.items-inline {
    justify-content: space-around;
    margin: 3rem auto;

    .item {
        font-size: 1rem;
        padding: 0 0.5rem 0 2rem;
        margin-bottom: 1rem;

        .icon {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (min-width: $minWidthMd) {
        .item {
            font-size: 1.4rem;
            padding: 0 0.5rem 0 2.5rem;

            .icon {
                width: 25px;
                height: 25px;
            }
        }
    }

    @media screen and (min-width: $minWidthLg) {
        justify-content: flex-start;
        margin-left: 0;

        .item {
            padding: 0 2.5rem;

            .icon {
                width: 25px;
                height: 25px;
            }
        }
    }
}

#wrap {
    min-height: 100vh;

    @media screen and (min-width: $minWidthXl) {
        padding-bottom: $footerHeight;
    }
}

#main {
    min-height: calc(100vh - #{$footerHeight});

    @media screen and (max-width: $maxWidthSm) {
        > section:not(.no-min-h-100) {
            min-height: 100vh;
        }
    }
}

.social-bullet {
    $size: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    border-radius: $size;
    width: $size;
    height: $size;
    line-height: $size;
    transition: 0.3s all ease;

    &:hover,
    &:focus {
        background-color: $white;
        color: $primary;
    }
}

// Video wrapper
.mejs-container {
    margin: 0;
    max-height: 300px;

    iframe {
        max-height: 300px;
    }
}

.mejs-controls {
    display: none !important;
    visibility: hidden !important;
    opacity: 0!important;
    transition: all 0.5s ease;
}

.mejs-container:hover .mejs-controls {
    opacity: 1 !important;
}

.mejs-overlay-button{
    display: none !important;
    visibility: hidden !important;
}

.tooltip-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;

}

.tooltip {
    position: absolute;
    margin-top: 1rem;
    z-index: 9999;

    &.show {
        opacity: 1 !important;
    }

    .tooltip-inner {
        font-size: 1.3rem;
        background-color: $white;
        color: $primary;
        border: 1px solid $primary;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        margin: 0;
    }
}

.pipedriveWebForms {
    iframe {
        max-width: none !important;
    }
}

#cookie-notice {
    box-shadow: 0 0 7px 0px $light-grey;

    .cookie-notice-container {
        color: #009cde;
        padding-right: 10rem;
        text-align: left;
        
        #cn-accept-cookie {
            font-size: 1.2rem;
            font-weight: 900;
            color: $primary !important;
            background-color: $white !important;
            background: none !important;
            margin-left: 0;
            transition: 0.3s all ease;
    
            &:hover,
            &:focus {
                color: $white !important;
                background-color: $primary !important;
            }
        }
    }
}

// ONLY on Mobile
@media screen and (min-width: $minWidthMd) {
    #cookie-notice {
        .cookie-notice-container {
            padding-right: 15px;
            text-align: center;

            #cn-accept-cookie {
                margin-left: 5px;
            }
        }
    }
}
