/*!
Mobile Breakpoints: < 575.98px ($maxWidthXs)
Tablet Breakpoints: > 576px ($minWidthSm) and < 1199.98px ($maxWidthLg)
Desktop Breakpoints: > 1200px ($minWidthXl)
*/

.d-mobile {
    @media screen and (min-width: $minWidthMd) {
        display: none !important;
    }
}

.d-mobile-tablet {
    @media screen and (min-width: $minWidthXl) {
        display: none !important;
    }
}

.d-mobile-small-tablet {
    @media screen and (min-width: $minWidthLg) {
        display: none !important;
    }
}

.d-tablet-desktop {
    @media screen and (max-width: $maxWidthSm) {
        display: none !important;
    }
}

.d-desktop {
    @media screen and (max-width: $maxWidthLg) {
        display: none !important;
    }
}
