$brand: #009cde;
$blue: #78C3FB;
$dark-blue: #002252 !default;
$light-blue: #C8E2E8 !default;
$indigo: #444054;
$purple: #794c8a;
$pink: #f65ca2;
$red: #d92550;
$orange: #FF7750;
$yellow: #FFCE00;
$green: #3ac47d;
$teal: #16E0BD;
$cyan: #16aaff;

$primary: $brand;
$secondary: $dark-blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $light-blue;
$focus: $indigo;
$alt: $purple;

$primaryHover: lighten(#009cde, 0.8);
$white: #fff;
$black: #2B2B2B;
$grey: #ccc;
$dark-grey: #929292;
$light-grey: #E1E1E1;
